<div id="chatroom_container" class="container flex flex-row max-w-full h-full">
  
  <div id="side_panel", class="flex-col w-1/5 bg-gray-200 p-4">
    <h5 class="text-2xl font-bold"><%= current_user.email %></h5>
    <h4 class="text-2xl font-semibold">Users</h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4 class="text-2xl font-semibold">Rooms</h4>
    <%= render "rooms/new_room_form" %>
    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
      <%= render @rooms %>
    </div>
  </div>

  <%= turbo_frame_tag "room_container", class:"bg-gray-800 max-w-full mx-auto w-4/5" do %>
  <% end %>

</div>